@model IEnumerable<Business.Dtos.StatusDto>

@{
    ViewData["Title"] = "Manage Statuses";
}

<section id="clients">
    <header class="page-headline">
        <h1 class="h2">@ViewData["Title"]</h1>
        <button data-modal="true" data-target="#addStatusModal" class="btn btn-blue btn-add" type="button">Add Status</button>
    </header>

    <main class="content">
        <div class="surface">
            <div class="projects-list">
                @if (Model != null && Model.Any())
                {
                    @foreach (var status in Model)
                    {
                        <div class="project-item">
                            <h3>@status.StatusName</h3>
                        </div>
                    }
                }
                else
                {
                    <p>No projects available.</p>
                }

            </div>
            
        </div>
    </main>

</section>

<partial name="Partials/Modals/_AddStatusModal" model="new Business.Models.AddStatusForm()" />