<div class="profile-menu-container">
    <img id="profileAvatar" class="profile-avatar" src="~/images/avatars/avatar-template.svg" />
</div>

<div id="profileDropdown" class="profile-dropdown">
    <div class="profile-info">
        <img class="profile-avatar-mini" src="~/images/avatars/avatar-template.svg" />
        <span class="profile-name">Hans Mattin-Lassei</span>
    </div>

    <div class="profile-action">
        <div class="label">
            <i class="fa-duotone fa-solid fa-cog"></i>
            <span>Dark Mode</span>
        </div>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode" />
            <span class="slider"></span>
        </label>
    </div>

    <div class="divider"></div>

    <a class="profile-logout" asp-controller="Auth" asp-action="Logout">
        <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>
</div>
