
<div class="more-dropdown-content">
    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
        <img src="~/images/icons/Edit.svg" alt="More icon" class="more-icon">  Edit
    </button>

    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
        <img src="~/images/icons/Add User.svg" alt="More icon" class="more-icon"> Add Member
    </button>
  
    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0 delete-button">
        <img src="~/images/icons/Delete.svg" alt="More icon" class="more-icon"> Delete Project
    </button>
</div>
   

