@using Data.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager


<ul class="navbar-nav ml-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link btn btn-link text-dark border-0" title="Manage">
           <img src="~/images/avatars/avatar-template.svg" alt="User Avatar" class="avatar-icon">
            Hello @UserManager.GetUserAsync(User).Result?.FirstName!
        </a>
    </li>

    <div class="profile-action">
        <div class="label">
            <i class="fa-duotone fa-solid fa-cog"></i>
            <span>Dark Mode</span>
        </div>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode" />
            <span class="slider"></span>
        </label>
    </div>

    <div class="divider"></div>

    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-controller="Auth" asp-action="logout" method="post">

            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                    <i class="fas fa-sign-out-alt"></i> Logout
            </button>

                     
        </form>
    </li>

}

</ul>

