@model AddClientForm

<div id="addClientModal" class="modal">
    <div class="modal-content">
        <header class="modal-header">
            <h3>New Member</h3>
            <button data-close="true" data-target="#addClientModal" type="button" class="btn-close"></button>
        </header>
        <div class="modal-body">
            <form novalidate method="post" asp-action="Add" asp-controller="Clients">

                <div class="upload-container">
                    <img src="~/images/Upload-avatar.svg" class="upload-icon" />
                </div>

                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <div class="field-group">
                        <input asp-for="LastName" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div class="field-group">
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <div class="field-group">
                        <input asp-for="Phone" />
                        <span asp-validation-for="Phone"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="JobTitle"></label>
                    <div class="field-group">
                        <input asp-for="JobTitle" />
                        <span asp-validation-for="JobTitle"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth"></label>
                    <div class="field-group">
                        <input asp-for="DateOfBirth" />
                        <span asp-validation-for="DateOfBirth"></span>
                    </div>
                </div>

               

                <button type="submit" class="btn btn-blue btn-submit">Add Contact</button>

            </form>
        </div>

    </div>
</div>
