@model AddClientForm

<div id="addClientModal" class="modal">
    <div class="modal-content">
        <header class="modal-header">
            <h3>Add Client</h3>
            <button data-close="true" data-target="#addClientModal" type="button" class="btn-close"></button>
        </header>
        <div class="modal-body">
            <form novalidate method="post" asp-action="Add" asp-controller="Clients">

                <div class="form-group">
                    <label asp-for="ClientName"></label>
                    <div class="field-group">
                        <input asp-for="ClientName" />
                        <span asp-validation-for="ClientName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div class="field-group">
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <div class="field-group">
                        <input asp-for="Phone" />
                        <span asp-validation-for="Phone"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Location"></label>
                    <div class="field-group">
                        <input asp-for="Location" />
                        <span asp-validation-for="Location"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-blue btn-submit">Create</button>

            </form>
        </div>

    </div>
</div>
